@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rock+Salt&display=swap');
@import "tailwindcss";

@theme {
    --font-cursive: 'Rock Salt', cursive;
    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Merriweather', serif;
    
}

@keyframes logoarea {
    0% {
        max-height: 100vh;
    }
    100% {
        max-height: 320px;
    }
}

body {
    @apply bg-gray-100 h-screen max-h-screen text-gray-800;
}